/* 
    Document   : todo
    Created on : 02.12.2012, 12:18:58
    Author     : Marcel
    Description:
        Purpose of the stylesheet follows.
*/

.done-true {
  text-decoration: line-through;
  color: grey;
}